<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-12">
        <ul>
            <li >
                <h3>exp.estudio1</h3>
                <h4>exp.cargo</h4>
                <p class="fecha">exp.fechaInicio - exp.fechaFin</p>
                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, deleniti accusantium nihil officiis fugit molestias! Dolorem in earum doloribus unde nesciunt placeat cupiditate, veritatis ipsum explicabo dignissimos debitis quaerat facilis.</p>
            </li>
            <li >
                <h3>exp.estudio2</h3>
                <h4>exp.cargo</h4>
                <p class="fecha">exp.fechaInicio - exp.fechaFin</p>
                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa blanditiis, dignissimos recusandae neque praesentium corporis. Veritatis voluptatem, recusandae, omnis dignissimos odit a hic earum id animi, maxime distinctio necessitatibus repudiandae.</p>
            </li>
            <li >
                <h3>exp.estudio3</h3>
                <h4>exp.cargo</h4>
                <p class="fecha">exp.fechaInicio - exp.fechaFin</p>
                <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis molestias et temporibus fugiat hic fugit dignissimos reiciendis natus magni culpa autem, dicta doloremque voluptatibus quae nemo? Sit aperiam unde magnam.</p>
            </li>
        </ul>
    </div>
</div>
