<div class="row">
    <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../..//../assets/foto.jpg" alt="mi foto" class="img-fluid" id="miFoto">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mendez Rojas Victor Ramon</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de </h1>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Praesentium, eaque. Eos, vitae dolorum? 
                Ducimus provident asperiores quia ratione,
                 rem eius nostrum nesciunt magni nisi a. 
                 Placeat, voluptatem tempore? Illum, nesciunt!</p>
        </span>
    </div>
</div>

