<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li >
                <h3>exp.empresa1</h3>
                <h4>exp.cargo - </h4>
                <p class="fecha">exp.fechaInicio - exp.fechaFin</p>
                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, deleniti accusantium nihil officiis fugit molestias! Dolorem in earum doloribus unde nesciunt placeat cupiditate, veritatis ipsum explicabo dignissimos debitis quaerat facilis.</p>
            </li>
            <li >
                <h3>exp.empresa2</h3>
                <h4>exp.cargo - </h4>
                <p class="fecha">exp.fechaInicio - exp.fechaFin</p>
                <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa blanditiis, dignissimos recusandae neque praesentium corporis. Veritatis voluptatem, recusandae, omnis dignissimos odit a hic earum id animi, maxime distinctio necessitatibus repudiandae.</p>
            </li>
            <li >
                <h3>exp.empresa3</h3>
                <h4>exp.cargo - </h4>
                <p class="fecha">exp.fechaInicio - exp.fechaFin</p>
                <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vitae sed repellat, assumenda dolor dignissimos est perspiciatis cum ratione! Reiciendis ex excepturi eius sapiente cum tempora nam perspiciatis eligendi natus?
                    
                </p>
            </li>
        </ul>
    </div>
</div>